#About {
    text-align: center;
    background-color: black;
    position: fixed;
    left:0;
    right:0;
    height: 100%;
    color: #ffff;
    font-family: arial black;
    line-height: 1;
    z-index: 400;
    opacity: 0.8 !important;
    text-transform: uppercase;
    font-size: 2em;
    overflow: scroll;
    padding-top: 30px;

    .date {
        line-height: 1;
    }

    .address {
        line-height: 1;
    }

    .name {
        padding-top: 50px;
    }

    .location {
        font-size: 20px;
    }

    .artist {
        padding-top: 20px;
    }

    .description {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 60px;
    }

    .poster {
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}