body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    line-height: normal;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
    display: block;
}

::selection {
    color: black;
    background: white;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

p {
    letter-spacing: 1;
}

.blend {
    mix-blend-mode: difference;
}

.location, .contact {
    font-size: 9px;
}

.person {
    padding-top: 10px;
    padding: 15px;
}

.exhibition-description {
    padding-left: 10px;
    letter-spacing: 1;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 100px;
    text-align: center;
}

/* haut | droit | bas | gauche */
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.example {
    width: 100%;
    height: 100%;
}

canvas {
    background: black;
}

.horizontal-bar {
    background-color: black;
    height: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.brand {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    background-color: black;
    color: black;
    text-align: center;
    font-size: 25px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    line-height: 1;
    width: 25px;
}

.search {
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    width: 100%;
    padding: 10px;
}

input:focus {
    outline:none;
}